@import "tailwindcss";

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@theme {
  --color-shop-light-pink: #fff1f2;
}

.animate-slow-bounce {
  animation: slow-bounce 2.5s ease-in-out infinite;
}

@keyframes heart-fall {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  animation: heart-fall linear infinite;
  pointer-events: none; /* so you can still click buttons */
}
